<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alicorp</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- CSS Optional -->
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <main>
    <!--HEADER-->
    <header>
      <nav class="transparent z-depth-0">
        <div class="navbar-fixed">
          <div class="nav-wrapper">
            <div class="container">
              <a href="#" class="brand-logo">
                <span class="valign-wrapper"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Alicorp.svg/400px-Alicorp.svg.png" class="logo"
                    alt="logo">
                  <span class="pl fw-900 fs-18">ALICORP</span></span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
     <!--SIGN UP-->
     <section class="section">
      <div class="container">
        <div class="row">
          <div id="register">
            <h5 class="text center fs-38 fw-900">Registrarse</h5>
            <div class="container center-align">
              <div class="row z-depth-1 grey lighten-4 login-form">
                <form class="col s12">
                    <div class="input-field col s12 pt-4">
                      <input id="code" class="validate in" type="text" name="code" />
                      <label for="code">Código trabajador</label>
                    </div>
                    <div class="input-field col s12 pt-4">
                      <input id="name" class="validate in" type="text" name="name" />
                      <label for="name">Nombre</label>
                    </div>
                    <div class="input-field col s12 pt-4">
                      <input id="dni" class="validate in" type="text" name="dni" />
                      <label for="dni">DNI</label>
                    </div>
                    <div class="input-field col s12 pt-4">
                      <input id="email-register" class="validate in" type="email" name="email-register" />
                      <label for="email-register">Correo</label>
                    </div>
                   <div class="input-field col s12 l6 pt-4">
                      <input id="passsword-register" class="in" type="password" name="passsword-register" />
                      <label for="passsword-register">Contraseña</label>
                    </div>
                    <div class="section mt-3 pb-3">
                      <button type="button" id="signup" class="col s12 btn btn-large waves-effect fw-700 fsi">Registrar Datos</button>
                    </div>
                    <div class="pt-5 pb-3 mt-3">
                      <button type="button" class="fw-700 fsi mt-3 p-0 btn-link pull-left">
                        <span>
                          <a href="#login" class="text-center fw-700 btn-login-register">Ya tengo una cuenta</a>
                        </span>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/register.js"></script>
</body>

</html>
